@media only screen and (min-width: 992px){
    .main-content{
        grid-template-columns: 2fr 3fr;
    }
    .booking-form{
        margin: 50px 0px 0px 80px;
    }
    .logo{
        width: 16%;
        float: left;
    }
    .booking-form .inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    
} 

@media only screen and (max-width: 991px){
    .mobile-menu span{
        display: block;
        font-size: 45px;
    }
    .main-nav{
        display:none ;
    }
    .booking-form .inputs {
        display: grid;
    }
    .main-content{
        display: flex;
        flex-direction: column;
        margin: 0px 1rem;
        align-items: stretch;
        margin-top: 6rem;
    }
    .booking-content h1{
        font-size: 45px;
    }
    .booking-content p{
        width: 75%;
    }
    .booking-form{
        margin: 11px 0px 0px 80px;
    }
    .logo {
        max-width: 28%;
        float: left;
        margin-left: 1.2rem;
        margin-top: 5px;
    }
    .booking-form input {
        min-width: 0;
    }
    .booking-content {
        margin-left: 78px;
    }
    .ticket-information{
        margin-right: 1rem;
        margin-top: 0;
    }
    
}   

@media only screen and (min-width: 501px) and (max-width: 767px){
    .booking-content {
        margin-left: 58px;
    }
}
@media only screen and (min-width: 441px) and (max-width: 500px){
    .logo{
        max-width: 36%;
    }
    .booking-form {
        margin: 11px 0px 0px 60px;
    }
}
@media only screen and (min-width: 311px) and (max-width: 440px){
    .logo {
        max-width: 46%;
    }
    .booking-content {
        margin-left: 36px;
    }
    .booking-form {
        margin: 11px 0px 0px 41px;
    }
}
@media only screen and (max-width: 310px){
    .logo {
        max-width: 56%;
    }
    .booking-content {
        margin-left: 31px;
    }
    .booking-form {
        margin: 11px 0px 0px 34px;
    }
}
@media only screen and (max-width: 440px){
    .overlay .closeBtn {
        right: 1.5rem;
    }
}

