*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('/images/bus.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
nav{
    height: 50px;
    width: 100%;
    padding: 20px 0;
}
input[type=number]{
    -moz-appearance: textfield;
    font-weight: 600;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container{
    width: 1200px;
    max-width: 85%;
    margin: 0 auto;
    /* height: 80px; */
}

nav ul{
    display: flex;
    justify-content: flex-end;
    margin: 0px 6px;
    margin-top: 1rem;
}
nav ul li a{
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    margin-left: 30px;
    transition: .3s;
}
nav ul li a:hover, a.active{
    background-color: #52AF3A;
    border-radius: 5px;
}

/* Mobile NavBar */
.mobile-menu span {
    color: #fff;
    font-size: 4rem;
    float: right;
    display: none;
}
.mobile-menu span:hover {
    cursor: pointer;
}
.overlay {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
}
.overlay a {
    text-decoration: none;
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: #999;
    padding: 1rem 0;
}
.overlay a:hover {
    color: #fff;
}
.overlay .closeBtn {
    position: absolute;
    top: 0rem;
    right: 4.5rem;
    font-size: 5rem;
}
.mobile-menu span {
    margin-top: 0;
    line-height: 1;
}
/* /.Mobile NavBar  */
.main-content{
    display: grid;
    /* grid-template-columns: 2fr 3fr; */
    gap: 70px;
    align-items: center;
}
.booking-content{
    color: #fff;
    width: 100%;
    float: left;
    margin-left: 50px;
}
.booking-content h1{
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
}
.booking-form{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    float: right;
    width: 80%;
    /* margin: 50px 0px 0px 80px; */
}
.booking-form h3{
    margin: 10px 0px;
}
.booking-form  .input-group{
    margin: 10px 0;
}
.booking-form  .calculations{
    margin: 10px 0;
}
.booking-form  .calculations p{
    font-weight: 500;
    margin-bottom: 10px;
}
.booking-form input{
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #F3F5FF;
    border-radius: 4px;
    margin: 10px 0;
}
.information{
    height: 574px;
}
.ticket-information{
    background-color: #fff; 
    border: 1px solid #ddd; 
    padding: 10px;
    border-radius: 5px;
    float: right;
    width: 80%;
    margin: 50px 0px 0px 80px;
    margin-top: 7rem;
}
.ticket-information h3{
    margin: 10px 0px;
    margin-bottom: 2rem;
    font-size: 25px;
}
.ticket-information table{
    border-collapse: collapse;
}
.ticket-information th, td{
    border: 1px solid lightgray;
    padding: 10px 5px;
    background: #f7f7f7;
}
.ticket-information thead{
    background-color: rgb(173, 67, 48);
}
.ticket-information table{
    width: 100%;
}
#ticket-information{
    display: none;
}
table{
    max-width: 100%;
    background-color: transparent;
    margin-bottom: 1rem;
}
table tr td{
    text-align: center;
}
.f-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inp-width{
    min-width: 100px;
}
.plus-minus-btn{
    color: #3352F2;
    font-size: 30px;
    padding: 2px;
    margin: 10px 10px 0px 0px;
    word-spacing: 20px;
}
.plus-minus-btn button{
    color: #3352F2;
    border: 1px solid transparent;
    background-color: white; 
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-style{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 600;
    background-color:  #52AF3A;
    cursor: pointer;
    transition: .3s ;
}
.btn-style:hover{
    background-color: #3e862c;
}

.amount{
    display: flex;
    justify-content: space-between;
}

.border-bottom{
    border-bottom: none;
}
.border-top{
    border-top: none;
}
footer{
    margin-top: 3rem;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}
